@import "../../styles/variables.scss";

.testimonials {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .data {
    border: 1px $border-color solid;
    margin: 1rem;
    padding: 0.5rem;
    width: 80%;
    box-shadow: 5px 5px 10px 0px $primary-color;
    .client {
      text-align: right;
      font-weight: 500;
      font-style: italic;
    }
  }
}

@media screen and (min-width: 1200px) {
  .testimonials {
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 1rem;
    .data {
      width: 45%;
    }
  }
}
