$primary-color: #46498a;
$primary-color-light: #7075d7;
$secondary-color: #ffd700;
$secondary-color-light: #ffef94;
$background-color: #fcfce1;
$border-color: #24ac4b;
$white-font: #fffcf4;
$black-font: rgb(0, 0, 84);
