@import "../../styles/variables.scss";

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1rem;
  color: $black-font;
  .card {
    margin: 1rem;
    padding: 1rem;
    width: 250px;
    height: auto;
    border: 2px $secondary-color solid;
    border-radius: 2%;
    box-shadow: 10px 10px 5px 0px $primary-color;
    -webkit-box-shadow: 10px 10px 5px 0px $primary-color;
    -moz-box-shadow: 10px 10px 5px 0px $primary-color;
  }
  .map {
    margin: 1rem;
    padding: 1rem;
    width: 250px;
    height: auto;
    border: 2px $secondary-color solid;
    border-radius: 2%;
    box-shadow: 10px 10px 5px 0px $primary-color;
    -webkit-box-shadow: 10px 10px 5px 0px $primary-color;
    -moz-box-shadow: 10px 10px 5px 0px $primary-color;
  }
}

@media (min-width: 1200px) {
  .contact {
    flex-direction: row;
    .card {
      width: auto;
    }
    .map {
      width: auto;
    }
  } 
}