@import '../../styles/variables.scss';

.neatStuff{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 125px;
    margin-left: 100px;
    ul{
        li {
            padding: 1rem;
            list-style: none;
            a {
                color: $primary-color;
                font-weight: 600;
                font-size: 1.2rem;
            }
        }
    }
}