@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.syprogram {
  flex-direction: column;
  width: 90%;
  .brochure {
    display: block;
    text-decoration: none;
    color: $black-font;
    @include button-style($secondary-color);
    width: 300px;
  }
}

@media (min-width: 1200px) {
  .syprogram {
    width: 40%;
  }
}