@import "../../styles/variables.scss";

.header {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  color: $white-font;
  font-size: 2rem;

  .header-image {
    width: 90%;
    margin: 0 auto;
  }
}
