@import "../../styles/variables.scss";

.header {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  padding: 0.5rem;
  color: $white-font;
  font-size: 2rem;
  // align-items: center;

  .header-image {
    width: 90%;
  }
}
